# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/*
!.vscode/
!.vscode/launch.json
!.vscode/tasks.json

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/local.properties

# Windows
**/windows/flutter/ephemeral/
**/windows/flutter/generated_plugin_registrant.cc
**/windows/flutter/generated_plugin_registrant.h
**/windows/flutter/generated_plugins.cmake

# Linux
**/linux/flutter/ephemeral/
**/linux/flutter/generated_plugin_registrant.cc
**/linux/flutter/generated_plugin_registrant.h
**/linux/flutter/generated_plugins.cmake

# Web / Browser
.dart_tool/chrome-device/
**/build/web/

# Firebase configs
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
ios/firebase_app_id_file.json

# CocoaPods and Fastlane
**/ios/Pods/
**/ios/.httpcache
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output
**/ios/Runner.xcworkspace
**/macos/Runner.xcworkspace

# Firebase configuration files
**/android/app/google-services.json
**/ios/Runner/GoogleService-Info.plist
**/macos/Runner/GoogleService-Info.plist
**/lib/firebase_options.dart
firebase_options.dart

# Firebase CLI & Hosting caches
.firebase/
firebase-debug.log
firebase-debug.*.log
devtools_options.yaml